@page "/produit/{id:int}"
@inject HttpClient Http

@if (produit != null)
{
    <div class="row">
        <div class="col">
            <h4>Informations</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <img src="Images/gray.png" class="img-fluid w-100 h-100" alt="Responsive image">
            @* <div id="carouselExampleSlidesOnly" class="carousel slide w-100 h-100" data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="Images/gray.png" alt="First slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="Images/green.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="Images/gray.png" alt="Third slide">
                </div>
                </div>
                </div> *@
        </div>

        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>@produit.Libelle</h5>
                </div>

                <div class="col text-right">
                    @* <a class="btn btn-success btn-sm" href="/produit/edit/@produit.Id">Modifier</a> *@
                    <h6>Vendu par <span class="text-secondary">"Test"</span></h6>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <p>@produit.Description</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Prix : @produit.Price €</p>
                </div>

                <div class="col">
                    <p>Quantité disponible : @produit.Quantity</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <h6>Vendu par <span class="text-secondary">@produit.Seller.Username</span></h6>
                </div>

                <div class="col text-right">
                    <h6>En vente depuis le <span class="text-secondary">@produit.DatePublish</span></h6>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-warning">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <h4>Avis</h4>
        </div>
    </div>
}

@code {
    [Parameter]
    public int id { get; set; }
    private Produit produit;

    protected override async Task OnInitializedAsync()
    {
        produit = await Http.GetFromJsonAsync<Produit>("https://localhost:5001/API/Produit/" + id);
    }
}
